* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
}

.tile {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    background-color: #cfcfcf;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.tile:hover {
    background-color: #a8a8a8; /* Change color on hover */
}

.tile.clicked {
    background-color: red; /* Change color when clicked */
}

.tile:nth-child(13) {
    background-color: yellow !important; /* Change the background color of the 12th tile to yellow */
}
